@inherits LayoutComponentBase

<TelerikRootComponent IconType="@IconType">
    <div class="page">
        @* <div class="sidebar">
            <NavMenu />
        </div> *@
    
        <main>
            @* <div class="top-row">
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div> *@
    
            @Body
        </main>
    </div>
    
    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</TelerikRootComponent>

@code {
    private IconType IconType = IconType.Svg;
    protected override void OnInitialized()
    {

        base.OnInitialized();
    }
}