/* Splitter */
.k-resize-handle {
    display: none !important;
}

.k-splitbar {
    width: 4px;
    background: linear-gradient(to right, transparent 0px, transparent 1px, darkgray 1px, darkgray 3px, transparent 3px, transparent 4px ) !important;
}

    .k-splitbar:hover, .k-splitbar:focus, .k-splitbar.k-focus {
        background: linear-gradient(to right, transparent 0px, transparent 1px, lightgray 1px, lightgray 3px, transparent 3px, transparent 4px ) !important;
    }

.chart-pane {
    display: flex;
    flex-direction: column;
}

.chart-wrapper {
    overflow: hidden !important;
    position: relative !important;
}

.chart-wrapper1 {
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
}