@page "/"
@using TelerikBlazorAppTestChart.Components.Common

<link rel="stylesheet" href="css/custom-telerik.css" />

<style>
    .cardnew {
        height: 800px;
    }
    /* Общие стили для WorkWindow */
    .workwindow-container {
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 5px;
        min-height: 250px;
    }

    .k-table-row {
        font-size: 10px;
        line-height: 10px;
    }

    .telerik-table {
        padding: 0px;
    }

    .k-grid-md td, .k-grid-md .k-table-td {
        padding-block: 0px !important;
        padding-inline: 0px !important;
    }

    .small-row-height .k-placeholder-line {
        display: none;
    }

    .small-row-height.k-grid td {
        margin: 0;
        padding: 0;
    }


    /* Стили для контейнера с таблицей */
    .table-container {
        height: 90vh;
        scrollbar-width: thin;
        overflow-y: auto; /* Включаем вертикальный скроллинг */
    }

    /* Стили для самой таблицы */
    .telerik-grid {
        width: 100%;
        height: 100%;
    }

    /* Стили для контента таблицы */
    .telerik-grid .k-grid-content {
        overflow-y: auto; /* Включаем вертикальный скроллинг в таблице */
    }

    /* Заголовок WorkWindow */
    .workwindow-container h3 {
        margin-top: 0;
        font-size: 18px;
        color: #333;
        font-weight: bold;
    }

    /* Стили для TileLayout (если нужно стилизовать плитки) */
    .telerik-tilelayout-item {
        min-width: 285px;
        min-height: 285px;
        margin-bottom: 15px;
    }

    .tile-content {
        background-color: #fff;
        border-radius: 5px;
    }

    .k-grid-footer {
        padding-inline-end: 0px !important;
    }

    .dxbl-chart-root .dxbl-chart {
        padding: 0px !important;
    }


    .k-grid-content {
        scrollbar-width: none;
    }

    .k-grid-header {
        padding-inline-end: 0px !important;
    }
    /* Дополнительные улучшения для внешнего вида */
    .telerik-grid .k-header {
        background-color: #f0f0f0;
        color: #333;
        text-align: center;
        font-weight: bold;
    }

    .telerik-grid .k-grid-header {
        border-bottom: 1px solid #ddd;
    }

    .telerik-grid .k-grid-table {
        border-spacing: 0;
        border-collapse: collapse;
    }

    .telerik-grid .k-grid-table td,
    .telerik-grid .k-grid-table th {
        text-align: center;
        border: 1px solid #ddd;
    }

    .k-card-body {
        padding: 0px;
        padding-block: 0 !important;
        padding-inline: 0 !important;
    }
    .k-grid-content {
        padding: 0px;
    }

    .gridlayout-item {
        font-size: 1.2em;
        font-weight: 500;
        text-align: center;
        width: 100%;
        height: 800px;
        text-align: center;
        position: relative;
        z-index: 0;
        display: flex;
        align-items: start;
        justify-content: start;
    }

    .gridlayout-item:before {
        content: " ";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0.4;
    }

    .gridlayout-header:before {
        background-color: var(--bs-red);
    }

    .gridlayout-content:before {
        background-color: var(--bs-yellow);
    }

    .gridlayout-left-side-bar:before {
        background-color: var(--bs-green);
    }

    .gridlayout-right-side-bar:before {
    }

    .gridlayout-footer:before {
        background-color: var(--bs-blue);
        opacity: 0.5;
    }

    .dxgrid {
        height: 100%;
    }


    .dxbl-grid {
        --dxbl-grid-font-size: 10px;
    }

    .cell-text {
        font-weight: 750 !important;
    }

    .highlighted-item {
        background-color: #edc6c6
    }

    .highlighted-item2 {
        background-color: #a0dbc6
    }

    .transparent-item {
        background-color: transparent
    }

    .card-body {
        padding: 0;
    }

    .removeOrder {
        z-index: 201;
        flex-shrink: 0;
        cursor: pointer;
        float: right;
    }

    .restVolume {
        display: flex;
    }

    .restVolumeSpan {
        flex-shrink: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .grid-header {
        display: none;
    }

</style>

<template type="text/html">
    <div class="chooseColor">
        <div class="selectedColor"></div>
        <ul>
            <li style="background: #014FA1"></li>
            <li style="background: #1D84BD"></li>
            <li style="background: #EEEEEE"></li>
            <li style="background: #F15C25"></li>
            <li style="background: #EB0506"></li>
        </ul>
    </div>
</template>

<div id="windows-1">
    <WindowsComponent ElementId="@GenerateWindowsComponentElementID(0)"></WindowsComponent>
</div>
<div id="windows-2">
    <WindowsComponent ElementId="@GenerateWindowsComponentElementID(1)"></WindowsComponent>
</div>
<div id="windows-3">
    <WindowsComponent ElementId="@GenerateWindowsComponentElementID(2)"></WindowsComponent>
</div>

@code{

    @inject IJSRuntime JSRuntime;

    private string GenerateWindowsComponentElementID(int index)
    {
        return "" + index;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initGoldenLayout");
        }
    }

}