
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="TelerikBlazorAppTestChart.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
    <link rel="stylesheet" href="https://blazor.cdn.telerik.com/blazor/7.0.0/kendo-theme-default/swatches/default-ocean-blue.css" />

    <script src="https://blazor.cdn.telerik.com/blazor/7.0.0/telerik-blazor.min.js" defer></script>

    @* goldenlayout *@
        <link rel="stylesheet" href="goldenlayout/css/goldenlayout-base.css" />
        <link rel="stylesheet" href="goldenlayout/css/goldenlayout-dark-theme.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="goldenlayout/js/goldenlayout.js"></script>
        @* <script src="goldenlayout/js/goldenlayout.min.js"></script> *@
    @* goldenlayout *@

    <script src="_framework/blazor.web.js"></script>
    <script src="/js/main-splitter.js"></script>
    <script src="/js/splitter.js"></script>
    <script src="/js/main.js"></script>
</head>

<body class="k-body">
    <Routes @rendermode="InteractiveServer" />
    @* <script src="_framework/blazor.web.js" autostart="false"></script> *@
</body>

@* <script>
    Blazor
        .start()
        .then(() => {
            var targetElement = document.getElementById("quoteContainer");
            Blazor.rootComponents.add(targetElement, "Quote", {});
        })
        .catch((error) => console.error(error));
</script> *@
</html>

